@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
html, body {
	height: 101%;
    font: 16px/1.0 Lato, sans-serif;
    background-color: #E4E4E4;
    color: #FFF;
}
ul, ol, dl {
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
    margin: 28px 0 12px;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #004075;
}
h2 {
    padding-left: 0;
    text-align: center;
}
h3, h4 {
	margin: 20px 0 8px;
	padding-left: 0px;
	text-transform: none;
	font-size: 16px;
	font-weight: 700;
}
h5, h6 {
	text-transform: none;
	font-size: 14px;
	font-weight: 400;
}
.content p {
    margin-top: 0;
    padding: 0px 20px 12px 20px;
    line-height: 150%;
    color: #222;
}
a img {
    border: none;
}
a:link, a:visited {
    color: #004075;
    text-decoration: underline;
}
a:hover, a:active, a:focus {
    text-decoration: none;
}
.container {
    width: 100%;
	min-height: 100%;
    max-width: 720px;
    min-width: 360px;
    margin: 0 auto;
    background-color: #FFF;
}
.wide {
    max-width: 960px;
}
.header {
    height: 120px;
    padding: 20px 0;
    background-color: #004075;
}
.logo {
    float: left;
    width: 120px;
    height: 120px;
    margin-left: 20px;
    margin-right: 20px;
}
ul.title {
    list-style: none;
}
ul.title li {
    display: block;
}
ul.title li:first-child {
    margin-top: 48px;
    font-size: 18px;
    text-transform: uppercase;
}
ul.title li:last-child {
    margin-top: 40px;
    margin-right: 20px;
    float: right;
    color: #99B3C8;
}
ul.nav {
    list-style: none;
    height: 46px;
    padding-right: 8px;
    background-color: #24890D;
}
ul.nav li {
    display: inline-block;
    float: right;
}
ul.nav a, ul.nav a:visited {
	height: 16px;
	padding: 15px 10px;
	display: block;
	font-size: 12px;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #24890D;
	font-weight: 700;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
    background-color: #41A62A;
    color: #FFF;
}
.content {
    padding: 10px 0;
}
.content ul, .content ol {
    padding: 0 8px 8px 40px;
}
.footer {
    padding: 24px 20px 16px;
	background-color: #FFF;
    font-size: 10px;
    color: #999;
    text-align: center;
}
.fltrt {
    float: right;
    margin-left: 8px;
}
.fltlft {
    float: left;
    margin-right: 8px;
}
.clearfloat {
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
label {
    color: #222;
	padding-left: 4px;
}
.vangst {
    width: 328px;
    margin: 0 auto;
    padding-bottom: 24px;
    font-size: 14px;
}
.vangst fieldset {
    border: 1px solid #DDD;
    margin: 4px 0px 12px;
    padding: 10px 0px 24px 8px;
}
.vangst legend {
	font-size: 16px;
    font-weight: 700;
    color: #004075;
}
.vangst select {
    height: 30px;
    margin-right: 2px;
    margin-top: 6px;
    border: 1px solid #DDD;
    font: 14px Lato, sans-serif;
}
.vangst select.vangstdag {
    width: 66px;
}
.vangst select.vangstmaand {
    width: 86px;
}
.vangst select.vangsttijd {
    width: 66px;
}
.vangst select.vangsthsv {
    width: 298px;
	margin-top: 8px;
}
.vangst select.vangstsoort {
    width: 136px;
}
.vangst select.vangstformaat {
    width: 84px;
}
.vangst select.vangstaantal {
    width: 70px;
}
#vangsttabel {
	margin-left: -2px;
}
.vangst button.vangstextra {
    width: 22px;
    margin-left: 0px;
    padding: 4px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    float: right;
}
.registration {
    width: 360px;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 14px;
    color: #222;
}
.registration select {
    width: 214px;
    height: 30px;
    margin-bottom: 8px;
    padding: 6px;
    border: 1px solid #DDD;
    font: 14px Lato, sans-serif;
}
.registration input {
    width: 200px;
    margin-bottom: 8px;
    padding: 6px;
    border: 1px solid #DDD;
}
.login {
    width: 360px;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 14px;
    color: #222;
}
.login input {
    width: 200px;
    margin-bottom: 8px;
    padding: 6px;
    border: 1px solid #DDD;
}
#login_form a {
	padding-left: 4px;
}
.users {
    width: 96%;
    margin: 24px auto 0;
    padding-bottom: 20px;
    font-size: 14px;
    color: #222;
}
.users th {
    padding: 5px 0;
    font-weight: 700;
    color: #004075;
	text-align: left;
}
.users tr {
    text-align: left;
}
.overview {
    width: 64%;
	margin: 0 auto; 
    color: #222;
	font-size: 14px;
    text-align: left;
}
.overview th {
    height: 16px;
	width: 25%;
	font-weight: 700;
	color: #004075;
	text-align: left;
}
.overview th:first-child {
	width: 50%;
}
.overviewdatum {
	background: #DDD;
	cursor: pointer;
	padding: 5px 0;
	text-align: center;
}
.overviewdatum:hover {
    background: #E5E5E5;
}
#accordion {
    width: 98%;
    margin: -20px auto 0;
    padding-bottom: 20px;
}
.logged {
	float: right;
	height: 28px;
	margin-right: 20px;
	font-size: 10px;
	line-height: 12px;
	color: #999;
}
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: none;
    padding: 10px 20px 11px;
    background-color: #24890D;
    border: 0;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: #FFF;
    vertical-align: bottom;
}
button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background-color: #41A62A;
    color: #FFF;
}
button:active,
.button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    background-color: #55D737;
}
.error {
    width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
	border: 1px solid #DDD;
    padding: 8px 0px 24px 4px;
	font-size: 14px;
    color: #222;
}
.error legend {
	font-weight: 700;
    color: red;
}